<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Systems Admin</title>
    <link rel="shortcut icon" href="/img/strava.svg" />
    <!--Lineawesome css-->
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <!--iconos de boostrap-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="css/dashboard1.css" />

    <script>
      function showDiv1() {
        document.getElementById("procesos").style.display = "";
        document.getElementById("clientes").style.display = "none";
        document.getElementById("sectores").style.display = "none";
      }

      function showDiv2() {
        document.getElementById("procesos").style.display = "none";
        document.getElementById("clientes").style.display = "";
        document.getElementById("sectores").style.display = "none";
      }

      function showDiv3() {
        document.getElementById("procesos").style.display = "none";
        document.getElementById("clientes").style.display = "none";
        document.getElementById("sectores").style.display = "";
        //document.getElementById('calendario').style.display = 'none';
      }
    </script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

    <!-- SCRIPT MAPA -->

    <style>
        body { margin: 0; padding: 0; }
        #map { position: absolute; top: 0; bottom: 0; width: 100%; }

        #map {
            position: fixed; 
            /* margin: 10%; */
            width: 40%;
            }
            #features {
            width: 70%;
            margin-left: 70%;
            font-family: sans-serif;
            overflow-y: scroll;
            background-color: #fafafa;
            }
            section {
            padding: 25px 50px;
            line-height: 30px;
            border-bottom: 1px solid #ddd;
            opacity: 0.25;
            font-size: 20px;
            }
            section.active {
            opacity: 1;
            }
            section:last-child {
            border-bottom: none;
            margin-bottom: 200px;
            }

        </style>


    <!-- FIN SCRIPT MAPA -->

    <!--  -->
    
  </head>
  <body>
    <input type="checkbox" id="nav-toggle" />
    <!--Icono y Nombre soft-->
    <div class="sidebar">
      <div class="sidebar-brand">
        <h1><span class="lab la-accusoft"></span><span>SysAscensor</span></h1>
      </div>
      <!--Menu de opciones-->
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#" class="active"
              ><span class="bi bi-menu-app-fill"></span><span>Menú</span></a
            >
          </li>
          <li>
            <a href="/adminuser"
              ><span class="bi bi-people"></span
              ><span>Registro de Usuarios</span></a
            >
          </li>
          <!-- <li>
            <a href="/clientes"
              ><span class="bi bi-card-checklist"></span
              ><span>Clientes-Ascesores</span></a
            >
          </li> -->
          <li>
            <a href="/tareas"
              ><span class="las la-clipboard-list"></span
              ><span>Asignacion Tareas</span></a
            >
          </li>
          <li>
            <a href="/login"
              ><span class="bi bi-box-arrow-left"></span><span>Salir</span></a
            >
          </li>
        </ul>
      </div>
    </div>

    <!--Menu Contenido barra-->
    <div class="main-content">
      <header>
        <h1>
          <label for="nav-toggle">
            <span class="las la-bars"></span>
          </label>
          Menú Principal
        </h1>

        <!--Buscar-->
        <div class="search-wrapper">
          <span class="bi bi-search"></span>
          <input type="search" placeholder="Buscar" />
        </div>

        <!--Apartado usuario-->
        <div class="user-wrapper">
          <img src="img/user.png" width="40px" height="40px" alt="" />
          <div>
            <h4>Usuario</h4>
            <small>Super Admin</small>
          </div>
        </div>
      </header>
      <!--Tarjetas de info-->

      <main>
        

        <div class="cards">
          <div class="card-single">
            <div class="card-header">SYSTEMS ASCENSOR</div>
            <div class="card-body">
              <h5 class="card-title">¡Sistema de notificaciones!</h5>
              <p class="card-text">
                Alertas, fallas y mantenimiento ascensores
              </p>
            </div>
          </div>

          <!--Tarjetas Clientes Conjuntos-->

          <!--
                    <div class="card-single"  onclick="showDiv2()">
                        <div>
                            <h1>11</h1>
                            <span></span>
                            <a>Clientes-Conjuntos</a>
                        </div>
                        <div>
                            <span class="bi bi-person-video2"></span>
                        </div>
                    </div>

                    -->

          <!--Tarjetas Sectores Fusa-->
          
                    <div class="card-single" onclick="showDiv3()">
                        <div>
                            <h1>5</h1>
                            <span></span>
                            <a>Sectores Fusa</a>
                        </div>
                        <div>
                            <span class="bi bi-geo-alt"></span>
                        </div>
                    </div>
                   

                    
<!--RELOJ-->
        <div>
          <style>
            #reloj {
              font-family: sans-serif;
              font-size: 60px;
              text-shadow: 0px 0px 1px #333;
            }

            .reloj-contenedor {
              background-color: rgb(12, 119, 206);
              color: #fff;
              max-width: 350px;
              text-align: center;
              border-radius: 10px;
              margin: 0 auto;
            }

            #fecha {
              letter-spacing: 10px;
              font-size: 15px;
            }
          </style>

          <div id="reloj">
            <div class="reloj-contenedor" id="contenedor">
              <div id="hora">00:00:00</div>
              <div id="fecha">00/00/00</div>
            </div>
          </div>

          <script>
            const horaDiv = document.querySelector("#hora");
            const fechaDiv = document.querySelector("#fecha");

            // Funcion para tomar la hora actual e imprimirlo en HTML
            const mostrarReloj = () => {
              let fecha = new Date();
              let hora = formatoHora(fecha.getHours());
              let minuto = formatoHora(fecha.getMinutes());
              let segundo = formatoHora(fecha.getSeconds());
              horaDiv.innerHTML = `${hora}:${minuto}:${segundo}`;

              // Arreglos que almacenan los nombres de las fechas en español

              const meses = [
                "Ene",
                "Feb",
                "Mar",
                "Abr",
                "May",
                "Jun",
                "Jul",
                "Ago",
                "Sep",
                "Oct",
                "Nov",
                "Dic",
              ];
              const dias = ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"];

              let diaSemana = dias[fecha.getDay()];
              let dia = fecha.getDate();
              let mes = meses[fecha.getMonth()];

              let fechaTexto = `${diaSemana}, ${dia} ${mes}`;

              fechaDiv.innerHTML = fechaTexto;
            };

            // Le añade un cero a una unidad de tiempo inferior a 10 ya que por defecto solo devuelve el valor sin el 0 como formato
            const formatoHora = (tiempo) => {
              if (tiempo < 10) {
                tiempo = `0${tiempo}`;
              }
              return tiempo;
            };

            // Cuando se carga la página se ejecuta la función de reloj cada segundo
            window.onload = () => {
              setInterval(mostrarReloj, 1000);
            };
          </script>
        </div>
        <!--FIN DE RELOJ-->                    

                 
                    

          <!--Tarjetas Procesos-->

          <div class="card-single" onclick="showDiv1()">
            <div>
              <% resp.forEach((cont)=>{ %>
              <tr>
                <h1><%= cont.conteo %></h1>
              </tr>
              <% }) %>

              <span><a>Procesos</a></span>
            </div>
            <div>
              <span class="bi bi-kanban"></span>
            </div>
          </div>
        </div>

        <!---->
        <div class="recent-grid">
          <!--TABLA 1-->
          <div id="procesos" class="projetcs" styles="">
            <div class="card">


                <!-- MAPA -->


                
<div id="map"></div>
<div id="features">

    <section id="1" class="active">
       <h3>MULTIFAMILIAR MIRADOR DE KATALEY</h3>
       <h4>Dirección: CRA 5 #19-72 </h4>
       <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="2" class="active">
        <h3>TORRES DE BALMORAL</h3>
        <h4>Dirección: CALLE 22 # 9 - 2 </h4>
        <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="3">
        <h3>CON JUNTO RESIDENCIAL PARQUE LOS CAMBULOS I - TORRE 1 Y 2</h3>
        <h4>Dirección: CALLE 23 #64A - 72 </h4>
        <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="4">
        <h3>CONJUNTO RESIDENCIAL PARQUE LOS CAMBULOS III - TORRE 3</h3>
        <h4>Dirección: CALLE 21 #64A - 80</h4>
        <h4>Ascensores: 2 </h4>
    </section>
    <br>
    <br>
    <section id="5">
        <h3>MULTIFAMILIAR ARAUCARIA</h3>
        <h4>Dirección: CALLE 16 # 12-18  </h4>
        <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="6">
        <h3>CONJUNTO CERRADO URBANIZACION BRISAS DE MIRAMONTE</h3>
        <h4>Dirección: CALLE 27 #35-75 </h4>
        <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="7">
        <h3>CONJUNTO LAS HELICONIAS</h3>
        <h4>Dirección: CRA 62 #19 - 44 </h4>
        <h4>Ascensores: 1 </h4>
    </section>
    <br>
    <br>
    <section id="8">
        <h3>CONJUNTO RESIDENCIAL TORRES DE SANTA ANA No. 1</h3>
        <h4>Dirección: CALLE 22 #13 - 119 </h4>  
        <h4>Ascensores: 3 </h4>  
    </section>
    <br>
    <br>
    <section id="9">
        <h3>MULTIFAMILIARES EL PORTAL DE LA PAMPA V.I.S.</h3>
        <h4>Dirección: CALLE 25 #74-63 </h4>
        <h4>Ascensores: 5 </h4>  
    </section>
    <br>
    <br>
    <section id="10">
        <h3>MULTIFANILIAR VILLA LAURA</h3>
        <h4>Dirección: CALLE 16A # 16 - 24 </h4>
        <h4>Ascensores: 1 </h4>  
    </section>
    <br>
    <br>
    <section id="11">
        <h3>CONJUNTO KADY</h3>
        <h4>Dirección: CARRERA 2 ESTE #9 - 58 </h4>
        <h4>Ascensores: 1 </h4>  
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="12">
        <a href="/index" class="btn btn-primary"><i class="bi bi-box-arrow-right"></i> <span>SALIR</span></a>
    </section>

    
  </div>
  
<script src="/js/map.js"></script>





                <!-- FIN MAPA -->

              </div>
            </div>
          </div>

          <!--TABLA 2-->

          <div id="clientes" class="projetcs" style="display: none">
            <div class="card">
              <div class="card-header">
                <h3>Clientes-Conjuntos</h3>
                <button>
                  Ver todo <span class="las la-arrow-right"></span>
                </button>
              </div>

              <!-- TABLA (CARD) CLIENTES-->
              <div class="card-body">
                <div class="table-responsive">
                  <table width="100%">
                    <!--- TABLA Sectores Clientes-Conjuntos-->
                    <thead>
                      <tr>
                        <th>No.</th>
                        <th>Numero. ASC.</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                      </tr>
                    </thead>

                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
